{% extends 'base.html' %}

{% load staticfiles %}

{% block stylesheets %}
<link rel="stylesheet" href="{% static 'myauth/css/center-forms.css' %}" />
<link rel="stylesheet" href="{% static 'events/css/formset-css.css' %}" />
{% endblock %}

{% block javascripts %}
<script src="{% static 'js/jquery.formset.min.js' %}"></script>
{% endblock %}

{% block content %}
<div class="center-forms">
<form action='' method='post'>
    {% csrf_token %}
    {{ event_form.non_field_errors }}
    
    {{ event_form.event_type.errors }}
    {{ event_form.event_type.label_tag }}
    {{ event_form.event_type }}
    
    {{ event_form.event_name.errors }}
    {{ event_form.event_name.label_tag }}
    {{ event_form.event_name }}
    
    {{ event_form.contact.errors }}
    {{ event_form.contact.label_tag }} <img width=16, height=16 src="{% static 'events/images/helpicon.png' %}"  title="Website link, Facebook group, Discord link etc where someone can find more info and/or get in touch with the community"/><br/>
    <span class="help_text">{{ event_form.contact.help_text }}</span>
    {{ event_form.contact }}
    
    {{ event_form.info.errors }}
    {{ event_form.info.label_tag }}
    {{ event_form.info }}
    
    <h2 class="left">Address</h2>
    
    {{ event_form.latitude.errors }}
    {{ event_form.latitude.label_tag }}
    {{ event_form.latitude }}
    
    {{ event_form.longitude.errors }}
    {{ event_form.longitude.label_tag }}
    {{ event_form.longitude }}
    
    <h2 class="left">Games</h2>
    
    
    {% for gamesform in games_formset %}
        <div class="games_container">
            {{ gamesform.game.errors }} 
            {{ gamesform.game.label_tag }} <br>
            {{ gamesform.game }}
        </div>
    {% endfor %}
    
    {{ games_formset.management_form }}
    
    <h2 class="left"> Date </h2>
    
    
    <div id="week_form_div">
    {% for weekform in weekly_formset %}
        <div class="week_container">
            {{ weekform.weekday.errors }}
            {{ weekform.weekday.label_tag }} <br>
            {{ weekform.weekday }}
        </div>
    {% endfor %}
    </div>
    
    {{ weekly_formset.management_form }}
    
    
    <div id="month_form_div">
    {% for monthform in monthly_formset %}
        <div class="month_container">
            {{ monthform.weekday.errors }}
            {{ monthform.weekday.label_tag }} <br>
            {{ monthform.weekday }}
            <br>
            {{ monthform.week_number.errors }}
            {{ monthform.week_number.label_tag }} <br>
            {{ monthform.week_number }}
        </div>
    {% endfor %}
    </div>
    
    {{ monthly_formset.management_form }}
    
    <div id="onetime_form_div">
    {{ onetime_form }}
    </div>
    
    <input type="submit" value="Create Event">
</form>
</div>

<script type="text/javascript">
    $(function() {
        
        $('.week_container').formset({
            prefix: '{{ weekly_formset.prefix }}',
            formCssClass: 'dynamic-formset1',
            addText: 'add another date',
            deleteText: 'remove'
        });
        
        $('.month_container').formset({
            prefix: '{{ monthly_formset.prefix }}',
            formCssClass: 'dynamic-formset2',
            addText: 'add another date',
            deleteText: 'remove'
        });
        
        $('.games_container').formset({
            prefix: '{{ games_formset.prefix }}',
            formCssClass: 'dynamic-formset3',
            addText: 'add another game',
            deleteText: 'remove'
        });
        
    });
</script>

<script type="text/javascript">
function changeForm() {
    document.getElementById('week_form_div').style.display = "none";
    document.getElementById('month_form_div').style.display = "none";
    document.getElementById('onetime_form_div').style.display = "none";
    
    var selectValue = document.getElementById('{{ event_form.event_type.auto_id }}').value;
    
    if (selectValue == "week") {
        document.getElementById('week_form_div').style.display = "block";
    } else if (selectValue == "month") {
        document.getElementById('month_form_div').style.display = "block";
    } else if (selectValue == "onetime") {
        document.getElementById('onetime_form_div').style.display = "block";
    }
}

window.onload = changeForm;
</script>

{% endblock %}