{% extends 'base.html' %}

{% load staticfiles %}

{% block stylesheets %}
<link rel="stylesheet" href="{% static 'myauth/css/center-forms.css' %}" />
<link rel="stylesheet" href="{% static 'events/css/formset-css.css' %}" />
<link rel="stylesheet" href="{% static 'events/css/createevent.css' %}"/>
<link rel="stylesheet" href="{% static 'leaflet/leaflet.css' %}" />
{% endblock %}

{% block javascripts %}
<script src="{% static 'js/jquery.formset.min.js' %}"></script>
<script src="{% static 'leaflet/leaflet.js' %}"></script>
{% endblock %}

{% block content %}
<div class="center-forms">
<div id="map"></div>

<p>Click the map to indicate the location of your event</p>

<form action='' method='post'>
    {% csrf_token %}
    {{ event_form.non_field_errors }}
    
    {{ event_form.event_type.errors }}
    {{ event_form.event_type.label_tag }}
    {{ event_form.event_type }}
    
    {{ event_form.event_name.errors }}
    {{ event_form.event_name.label_tag }}
    {{ event_form.event_name }}
    
    {{ event_form.contact.errors }}
    {{ event_form.contact.label_tag }} <img width=16, height=16 src="{% static 'events/images/helpicon.png' %}"  title="Website link, Facebook group, Discord link etc where someone can find more info and/or get in touch with the community"/><br/>
    <span class="help_text">{{ event_form.contact.help_text }}</span>
    {{ event_form.contact }}
    
    {{ event_form.info.errors }}
    {{ event_form.info.label_tag }}
    {{ event_form.info }}
    
    <h2 class="left">Location</h2>
    
    {{ event_form.latitude.errors }}
    {{ event_form.latitude.label_tag }}
    {{ event_form.latitude }}
    
    {{ event_form.longitude.errors }}
    {{ event_form.longitude.label_tag }}
    {{ event_form.longitude }}
    
    <h2 class="left">Games</h2>
    
    
    {% for gamesform in games_formset %}
        <div class="games_container">
            {{ gamesform.game.errors }} 
            {{ gamesform.game.label_tag }} <br>
            {{ gamesform.game }}
        </div>
    {% endfor %}
    
    {{ games_formset.management_form }}
    
    <h2 class="left"> Date </h2>
    
    
    <div id="week_form_div">
    {% for weekform in weekly_formset %}
        <div class="week_container">
            {{ weekform.weekday.errors }}
            {{ weekform.weekday.label_tag }} <br>
            {{ weekform.weekday }}
        </div>
    {% endfor %}
    </div>
    
    {{ weekly_formset.management_form }}
    
    
    <div id="month_form_div">
    {% for monthform in monthly_formset %}
        <div class="month_container">
            {{ monthform.weekday.errors }}
            {{ monthform.weekday.label_tag }} <br>
            {{ monthform.weekday }}
            <br>
            {{ monthform.week_number.errors }}
            {{ monthform.week_number.label_tag }} <br>
            {{ monthform.week_number }}
        </div>
    {% endfor %}
    </div>
    
    {{ monthly_formset.management_form }}
    
    <div id="onetime_form_div">
    {{ onetime_form }}
    </div>
    
    <input type="submit" value="Create Event">
</form>
</div>


<script type="text/javascript">
        
    function gameAutocomplete(id) {
        var gameTags = [
            "Street Fighter 4",
            "Street Fighter 5",
            "Guilty Gear Xrd Sign",
            "Guilty Gear Xrd Revelator",
            "Mortal Kombat X",
            "Killer Instinct",
            "Blazblue Chrono Phantasma",
            "Blazblue Central Fiction",
            "Tekken Tag Tounament 2",
            "Tekken 7",
            "Soul Calibur 5",
            "Dead or Alive 5 Last Round",
            "Super Smash Bros Melee",
            "Super Smash Bros Brawl",
            "Super Smash Bros Wii U"
        ];
        console.log('#' + id);
        $(  "#" + id ).autocomplete({
            source: gameTags
        });
    };

    $(function() {
        gameAutocomplete('id_games-0-game')
    });
    
    function applyAutocomplete(row) {
        console.log(row);
        console.log(row[0].children[2].id); 
        gameAutocomplete(row[0].children[2].id);
    };
        
    $(function() {
    
        $('.week_container').formset({
            prefix: '{{ weekly_formset.prefix }}',
            formCssClass: 'dynamic-formset1',
            addText: 'add another date',
            deleteText: 'remove'
        });
        
        $('.month_container').formset({
            prefix: '{{ monthly_formset.prefix }}',
            formCssClass: 'dynamic-formset2',
            addText: 'add another date',
            deleteText: 'remove'
        });
        
        $('.games_container').formset({
            prefix: '{{ games_formset.prefix }}',
            formCssClass: 'dynamic-formset3',
            addText: 'add another game',
            deleteText: 'remove',
            added: applyAutocomplete
        });
        
    });
</script>

<script type="text/javascript">
function changeForm() {
    document.getElementById('week_form_div').style.display = "none";
    document.getElementById('month_form_div').style.display = "none";
    document.getElementById('onetime_form_div').style.display = "none";
    
    var selectValue = document.getElementById('{{ event_form.event_type.auto_id }}').value;
    
    if (selectValue == "week") {
        document.getElementById('week_form_div').style.display = "block";
    } else if (selectValue == "month") {
        document.getElementById('month_form_div').style.display = "block";
    } else if (selectValue == "onetime") {
        document.getElementById('onetime_form_div').style.display = "block";
    }
}

window.onload = changeForm;
</script>

<script type="text/javascript">
var marker;
var circle;
var map;



function addMarker(lat, lng) {
    marker = new L.marker( [lat, lng] );
    map.addLayer(marker);
}

function removeMarkers() {
    if (typeof marker !== 'undefined') {
        map.removeLayer(marker);
    };
    
    if (typeof circle !== 'undefined') {
        map.removeLayer(circle);
    };
}

function getLatLng() {
    lat = document.getElementById('id_event-latitude').value;
    lng = document.getElementById('id_event-longitude').value;
    
    if (typeof lat === 'undefined') {
        lat = 0.0;
    };
    
    if (typeof lng === 'undefined') {
        lng = 0.0;
    }
    
    return {
        lat: lat,
        lng: lng
    };
}

function processMapContent() {
    removeMarkers();
    latlng = getLatLng()
    addMarker(latlng.lat, latlng.lng);
    
}

function onMapClick(e) {
    var latEle = document.getElementById("id_event-latitude");
    var longEle = document.getElementById("id_event-longitude");
    var latLngWrap = e.latlng.wrap();
    latEle.value = latLngWrap.lat.toFixed(6);
    longEle.value = latLngWrap.lng.toFixed(6);
    processMapContent();
}


// Determine if latitude and longitude have been defined and zoom into point if so
map = L.map('map').setView([0.0, 0.0], 2);

L.tileLayer( 'http://{s}.mqcdn.com/tiles/1.0.0/map/{z}/{x}/{y}.png', {
    attribution: '&copy; <a href="http://osm.org/copyright" title="OpenStreetMap" target="_blank">OpenStreetMap</a> contributors | Tiles Courtesy of <a href="http://www.mapquest.com/" title="MapQuest" target="_blank">MapQuest</a> <img src="http://developer.mapquest.com/content/osm/mq_logo.png" width="16" height="16">',
    subdomains: ['otile1','otile2','otile3','otile4']
}).addTo( map );

map.on('click', onMapClick);

$('#id_event-latitude').bind('input', processMapContent);
$('#id_event-longitude').bind('input', processMapContent);
</script>

{% endblock %}