{% extends 'base.html' %}

{% load staticfiles %}

{% block stylesheets %}
<link rel="stylesheet" href="{% static 'myauth/css/center-forms.css' %}" />
{% endblock %}

{% block javascripts %}
<script src="{% static 'js/jquery.formset.min.js' %}"></script>
{% endblock %}

{% block content %}
<div class="center-forms">
<form action='' method='post'>
    {% csrf_token %}
    {{ event_form.non_field_errors }}
    
    {{ event_form.event_type.errors }}
    {{ event_form.event_type.label_tag }}
    {{ event_form.event_type }}
    
    {{ event_form.event_name.errors }}
    {{ event_form.event_name.label_tag }}
    {{ event_form.event_name }}
    
    {{ event_form.contact.errors }}
    {{ event_form.contact.label_tag }} <br/>
    <span class="help_text">{{ event_form.contact.help_text }}</span>
    {{ event_form.contact }}
    
    {{ event_form.info.errors }}
    {{ event_form.info.label_tag }}
    {{ event_form.info }}
    
    <h2 class="left">Address</h2>
    
    {{ event_form.address.errors }}
    {{ event_form.address.label_tag }}
    {{ event_form.address }}
    
    {{ event_form.town.errors }}
    {{ event_form.town.label_tag }}
    {{ event_form.town }}
    
    {{ event_form.county.errors }}
    {{ event_form.county.label_tag }}
    {{ event_form.county }}
    
    {{ event_form.country.errors }}
    {{ event_form.country.label_tag }}
    {{ event_form.country }}
    
    {{ event_form.postcode.errors }}
    {{ event_form.postcode.label_tag }}
    {{ event_form.postcode }}
    
    <br> <br> <br>
    
    {{ event_form.latitude.errors }}
    {{ event_form.latitude.label_tag }}
    {{ event_form.latitude }}
    
    {{ event_form.longitude.errors }}
    {{ event_form.longitude.label_tag }}
    {{ event_form.longitude }}
    
    
    <h2 class="left"> Date </h2>
    
    {{ weekly_formset.management_form }}
    
    <div id="week_form_div">
    {% for weekform in weekly_formset %}
        <div class="week_container">{{ weekform }}</div>
    {% endfor %}
    </div>
    
    {{ monthly_formset.managment_form }}
    
    <div id="month_form_div">
    {% for monthform in monthly_formset %}
        <div class="month_container">{{ monthform }}</div>
    {% endfor %}
    </div>
    
    <div id="onetime_form_div">
    {{ onetime_form }}
    </div>
    
    <input type="submit" value="Create Event">
</form>
</div>

<script type="text/javascript">
    $(function() {
        $('.week_container').formset({
            prefix: '{{ weekly_formset.prefix }}',
            formCssClass: 'dynamic-formset1',
            addText: 'add another date',
            deleteText: 'remove'
        });
        
        $('.month_container').formset({
            prefix: '{{ monthly_formset.prefix }}',
            formCssClass: 'dynamic-formset1',
            addText: 'add another date',
            deleteText: 'remove'
        })
    })
</script>

<link rel="stylesheet" href="{% static 'events/css/formset-css.css' %}" />

<script type="text/javascript">
function changeForm() {
    document.getElementById('week_form_div').style.display = "none";
    document.getElementById('month_form_div').style.display = "none";
    document.getElementById('onetime_form_div').style.display = "none";
    
    var selectValue = document.getElementById('{{ event_form.event_type.auto_id }}').value;
    
    if (selectValue == "week") {
        document.getElementById('week_form_div').style.display = "block";
    } else if (selectValue == "month") {
        document.getElementById('month_form_div').style.display = "block";
    } else if (selectValue == "onetime") {
        document.getElementById('onetime_form_div').style.display = "block";
    }
}

window.onload = changeForm;
</script>

{% endblock %}