{% extends 'base.html' %}

{% load staticfiles %}

{% block stylesheets %}
<link rel="stylesheet" href="{% static 'events/css/detail.css' %}" />
<link rel="stylesheet" href="{% static 'leaflet/leaflet.css' %}" />
{% endblock %}

{% block javascripts %}
<script src="{% static 'js/jquery.formset.min.js' %}"></script>
<script src="{% static 'leaflet/leaflet.js' %}"></script>
{% endblock %}

{% block content %}
<div class="center">
    <h1>{{ event.event_name }}</h1>
    <div id="map"></div>
    {% if event.event_type == "week" %}
        <h3>Weekly event every: <br/>
        {% for week in event.weekly.all %}
            {{ week.get_weekday_display }} <br/>
        {% endfor %} </h3>
    {% elif event.event_type == "month" %}
        <h3>Monthly event every: <br/>
        {% for month in event.monthly.all %}
            {{ month.get_week_number_display }} {{ month.get_weekday_display }} <br/>
        {% endfor %} </h3>
    {% elif event.event_type == "onetime" %}
    
    {% endif %}
    
    <h3>Games:</h3>
    {% for game in event.games.all %}
        {{ game.game }} <br>
    {% endfor %}
    
    <h3>Contact Link:<br>
    {{ event.contact }}</h3>
    
    <h3>Additional Information:</h3>
    {{ event.info }}
    
</div>

<script type="text/javascript">
var lat = {{ event.latitude }};
var lon = {{ event.longitude }};
var map = L.map('map').setView([lat, lon], 12);

L.tileLayer( 'http://{s}.mqcdn.com/tiles/1.0.0/map/{z}/{x}/{y}.png', {
    attribution: '&copy; <a href="http://osm.org/copyright" title="OpenStreetMap" target="_blank">OpenStreetMap</a> contributors | Tiles Courtesy of <a href="http://www.mapquest.com/" title="MapQuest" target="_blank">MapQuest</a> <img src="http://developer.mapquest.com/content/osm/mq_logo.png" width="16" height="16">',
    subdomains: ['otile1','otile2','otile3','otile4']
}).addTo( map );

var marker = L.marker([lat, lon]).addTo(map);

</script>
{% endblock %}
